#bkg{
    height: 100%;       
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
   background-color: #991930;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}
